.room {
    position: relative;
    padding: 8px;
    cursor: pointer;
    margin-top: 8px;
    max-width: 400px;
    width: 100%;
}

.room::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}